.wraper{
    background-color: black;
    color: gray;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.map{
    display: flex;
    background-color: black;
}
@media (max-width:968px){
    .wraper{
        padding: 10px;
        margin: 0px;
        width: 100%;
        left: 0px;
        right: 0px;
     display: block;
       
    }
    .description p{
        font-size: 12px;
    
    }
    .description h3{
        font-size: 16px;
    
    }
}